---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: mariadb
  namespace: exercise-01
  labels:
    app: mariadb
spec:
  revisionHistoryLimit: 2
  strategy:
    type: RollingUpdate
  replicas: 1
  selector:
    matchLabels:
      app: mariadb
  template:
    metadata:
      labels:
        app: mariadb
    spec:
      containers:
      - image: bitnami/mariadb:latest
        name: mariadb
        envFrom:
        - configMapRef:
            name: mariadb
        env:
        - name: MARIADB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mariadb
              key: root_password
        - name: MARIADB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mariadb
              key: password
        ports:
        - name: mariadb
          containerPort: 3306
        readinessProbe:
          exec:
            command:
            - bash
            - -c
            - mysqladmin status -u root -p$MARIADB_ROOT_PASSWORD
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          exec:
            command:
            - bash
            - -c
            - mysqladmin status -u root -p$MARIADB_ROOT_PASSWORD
          initialDelaySeconds: 15
          periodSeconds: 20